In [4]:
import pandas as pd

# read csv file
gen = pd.read_csv("dormitory_generally.csv")
win = pd.read_csv("dormitory_wintervacation.csv") 

#以平常上課住學校宿舍的同學跟寒假住學校宿舍的同學來做比較

In [31]:
gen

           學號
0   60508014E
1   60744008S
2   60760017T
3   60820026L
4   60843003S
5   60860018T
6   60867012T
7   60884068I
8   60901028E
9   60902007E
10  60909025E
11  60915003E
12  60921011L
13  60941029S
14  60943028S
15  60944022S
16  60947042S
17  60983013I
18  60990009M
19  60990044M
20  61003019E
21  61006011E
22  61009016E
23  61020002L
24  61030043A
25  61030048A
26  61031017A
27  61032003A
28  61032013A
29  61032018A
30  61041043S
31  61055028O
32  61070034H
33  61071025H
34  61075040H
35  61075048H
36  61082007I
37  80400006E
38  80641004S
39  80741004S
40  80742002S
41  80841005S
42  80842006S
43  80850007S
44  80901012E
45  81000008E
46  81040002S
47  81042002S
48  81077004H

In [6]:
print(win)

           學號
0   60508014E
1   60760017T
2   60820026L
3   60831018A
4   60843003S
5   60860018T
6   60867012T
7   60900023E
8   60901028E
9   60916010E
10  60921011L
11  60941029S
12  60943016S
13  60943028S
14  60944022S
15  60947033S
16  60990009M
17  60990030M
18  60990031M
19  61003019E
20  61006011E
21  61007014E
22  61009016E
23  61020002L
24  61030016A
25  61030044A
26  61030048A
27  61032003A
28  61041043S
29  61055028O
30  61055032O
31  61070034H
32  61075040H
33  61075048H
34  61140014S
35  61141012S
36  61142076S
37  61145009S
38  61145025S
39  80400006E
40  80641004S
41  80841005S
42  80842006S
43  80905008E
44  81040002S
45  81042002S

In [9]:
gen.head() #gen前面五筆資料

          學號
0  60508014E
1  60744008S
2  60760017T
3  60820026L
4  60843003S

In [19]:
data = pd.DataFrame(gen['學號'].head())
alldata.head()

#gen只出現學號的資料，可能檔案裏面有許多資料，但我這一個檔案只有學號資料
#只出現前五筆資料
#alldata=gen只有學號的資料，在這裡data=gen

          學號
0  60508014E
1  60744008S
2  60760017T
3  60820026L
4  60843003S

In [10]:
win.head() #win前面五筆資料

          學號
0  60508014E
1  60760017T
2  60820026L
3  60831018A
4  60843003S

In [20]:
# sorting by first name
win.sort_values("學號", inplace=True)

#win如果有重複資料，可以重新整理
#先不要print出因為太占位置

In [16]:
# dropping ALL duplicate values
win.drop_duplicates(subset="學號",keep=False, inplace=True)
  
# displaying data

#win有重複的會被刪掉
#先不要print出來因為太占位置

In [11]:
len(gen) #知道平日住宿的人有多少gem

49

In [12]:
len(win) #知道寒假住宿的同學有多少win

46

In [26]:
alldata = list(gen['學號'])
print("學期間住宿生:", len(alldata), " vs. 寒假住宿生:", len(win))

#alldata=gen

學期間住宿生: 49  vs. 寒假住宿生: 46

In [22]:
alldata

#學期間住宿生列表共49人

['60508014E',
 '60744008S',
 '60760017T',
 '60820026L',
 '60843003S',
 '60860018T',
 '60867012T',
 '60884068I',
 '60901028E',
 '60902007E',
 '60909025E',
 '60915003E',
 '60921011L',
 '60941029S',
 '60943028S',
 '60944022S',
 '60947042S',
 '60983013I',
 '60990009M',
 '60990044M',
 '61003019E',
 '61006011E',
 '61009016E',
 '61020002L',
 '61030043A',
 '61030048A',
 '61031017A',
 '61032003A',
 '61032013A',
 '61032018A',
 '61041043S',
 '61055028O',
 '61070034H',
 '61071025H',
 '61075040H',
 '61075048H',
 '61082007I',
 '80400006E',
 '80641004S',
 '80741004S',
 '80742002S',
 '80841005S',
 '80842006S',
 '80850007S',
 '80901012E',
 '81000008E',
 '81040002S',
 '81042002S',
 '81077004H']

In [30]:
win_01 = list(win['學號'])
win_01

#寒假住宿生列表共46人

['60508014E',
 '60760017T',
 '60820026L',
 '60831018A',
 '60843003S',
 '60860018T',
 '60867012T',
 '60900023E',
 '60901028E',
 '60916010E',
 '60921011L',
 '60941029S',
 '60943016S',
 '60943028S',
 '60944022S',
 '60947033S',
 '60990009M',
 '60990030M',
 '60990031M',
 '61003019E',
 '61006011E',
 '61007014E',
 '61009016E',
 '61020002L',
 '61030016A',
 '61030044A',
 '61030048A',
 '61032003A',
 '61041043S',
 '61055028O',
 '61055032O',
 '61070034H',
 '61075040H',
 '61075048H',
 '61140014S',
 '61141012S',
 '61142076S',
 '61145009S',
 '61145025S',
 '80400006E',
 '80641004S',
 '80841005S',
 '80842006S',
 '80905008E',
 '81040002S',
 '81042002S']

In [33]:
set(alldata).difference(set(win_01)) 

#學期間有住學校宿舍，但寒假沒有住學校宿舍的同學

{'60744008S',
 '60884068I',
 '60902007E',
 '60909025E',
 '60915003E',
 '60947042S',
 '60983013I',
 '60990044M',
 '61030043A',
 '61031017A',
 '61032013A',
 '61032018A',
 '61071025H',
 '61082007I',
 '80741004S',
 '80742002S',
 '80850007S',
 '80901012E',
 '81000008E',
 '81077004H'}

In [34]:
set(win_01).difference(set(alldata))

#寒假有住學校宿舍，但學期間沒有住學校宿舍

{'60831018A',
 '60900023E',
 '60916010E',
 '60943016S',
 '60947033S',
 '60990030M',
 '60990031M',
 '61007014E',
 '61030016A',
 '61030044A',
 '61055032O',
 '61140014S',
 '61141012S',
 '61142076S',
 '61145009S',
 '61145025S',
 '80905008E'}

In [8]:
gen.drop_duplicates(subset=['學號']) #兩筆資料的聯集資料

           學號
0   60508014E
1   60744008S
2   60760017T
3   60820026L
4   60843003S
5   60860018T
6   60867012T
7   60884068I
8   60901028E
9   60902007E
10  60909025E
11  60915003E
12  60921011L
13  60941029S
14  60943028S
15  60944022S
16  60947042S
17  60983013I
18  60990009M
19  60990044M
20  61003019E
21  61006011E
22  61009016E
23  61020002L
24  61030043A
25  61030048A
26  61031017A
27  61032003A
28  61032013A
29  61032018A
30  61041043S
31  61055028O
32  61070034H
33  61071025H
34  61075040H
35  61075048H
36  61082007I
37  80400006E
38  80641004S
39  80741004S
40  80742002S
41  80841005S
42  80842006S
43  80850007S
44  80901012E
45  81000008E
46  81040002S
47  81042002S
48  81077004H

In [13]:
newf=pd.concat([win,alldata]).drop_duplicates(keep=False)
newf

#

           學號
3   60831018A
5   60860018T
6   60867012T
7   60900023E
8   60901028E
9   60916010E
10  60921011L
11  60941029S
12  60943016S
13  60943028S
14  60944022S
15  60947033S
16  60990009M
17  60990030M
18  60990031M
19  61003019E
20  61006011E
21  61007014E
22  61009016E
23  61020002L
24  61030016A
25  61030044A
26  61030048A
27  61032003A
28  61041043S
29  61055028O
30  61055032O
31  61070034H
32  61075040H
33  61075048H
34  61140014S
35  61141012S
36  61142076S
37  61145009S
38  61145025S
39  80400006E
40  80641004S
41  80841005S
42  80842006S
43  80905008E
44  81040002S
45  81042002S
1   60744008S