In [2]:
import pandas as pd

# read csv file
gen = pd.read_csv("dormitory_generally.csv")
win = pd.read_csv("dormitory_wintervacation.csv") 

#以平常上課住學校宿舍的同學跟寒假住學校宿舍的同學來做比較

In [3]:
print(gen)
print(win)

           學號
0   60508014E
1   60744008S
2   60760017T
3   60820026L
4   60843003S
5   60860018T
6   60867012T
7   60884068I
8   60901028E
9   60902007E
10  60909025E
11  60915003E
12  60921011L
13  60941029S
14  60943028S
15  60944022S
16  60947042S
17  60983013I
18  60990009M
19  60990044M
20  61003019E
21  61006011E
22  61009016E
23  61020002L
24  61030043A
25  61030048A
26  61031017A
27  61032003A
28  61032013A
29  61032018A
30  61041043S
31  61055028O
32  61070034H
33  61071025H
34  61075040H
35  61075048H
36  61082007I
37  80400006E
38  80641004S
39  80741004S
40  80742002S
41  80841005S
42  80842006S
43  80850007S
44  80901012E
45  81000008E
46  81040002S
47  81042002S
48  81077004H
           學號
0   60508014E
1   60760017T
2   60820026L
3   60831018A
4   60843003S
5   60860018T
6   60867012T
7   60900023E
8   60901028E
9   60916010E
10  60921011L
11  60941029S
12  60943016S
13  60943028S
14  60944022S
15  60947033S
16  60990009M
17  60990030M
18  60990031M
19  61003019E
20  61006011E
21  61007014E
22  61009016E
23  61020002L
24  61030016A
25  61030044A
26  61030048A
27  61032003A
28  61041043S
29  61055028O
30  61055032O
31  61070034H
32  61075040H
33  61075048H
34  61140014S
35  61141012S
36  61142076S
37  61145009S
38  61145025S
39  80400006E
40  80641004S
41  80841005S
42  80842006S
43  80905008E
44  81040002S
45  81042002S

In [9]:
gen.head() #前面五筆資料

          學號
0  60508014E
1  60744008S
2  60760017T
3  60820026L
4  60843003S

In [10]:
win.head() #前面五筆資料

          學號
0  60508014E
1  60760017T
2  60820026L
3  60831018A
4  60843003S

In [11]:
len(gen) #知道平日住宿的人有多少

49

In [12]:
len(win) #知道寒假住宿的同學有多少

46

In [8]:
gen.drop_duplicates(subset=['學號']) #兩筆資料的

           學號
0   60508014E
1   60744008S
2   60760017T
3   60820026L
4   60843003S
5   60860018T
6   60867012T
7   60884068I
8   60901028E
9   60902007E
10  60909025E
11  60915003E
12  60921011L
13  60941029S
14  60943028S
15  60944022S
16  60947042S
17  60983013I
18  60990009M
19  60990044M
20  61003019E
21  61006011E
22  61009016E
23  61020002L
24  61030043A
25  61030048A
26  61031017A
27  61032003A
28  61032013A
29  61032018A
30  61041043S
31  61055028O
32  61070034H
33  61071025H
34  61075040H
35  61075048H
36  61082007I
37  80400006E
38  80641004S
39  80741004S
40  80742002S
41  80841005S
42  80842006S
43  80850007S
44  80901012E
45  81000008E
46  81040002S
47  81042002S
48  81077004H